<!DOCTYPE HTML>
<html>
    <head>
        <title>{title}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/auth.css">
	<link rel="stylesheet" type="text/css" href="js/jquery-ui/jquery-ui.css"> 
    	<link rel="stylesheet" type="text/css" href="js/jquery-ui/jquery-ui.theme.css">  
    </head>
    <body>
        <div id="eu"><img src="img/logo.png" alt="logo" height="35"><span>{title}</span></div>
        <div id="auth_form">
            <h2>Авторизация</h2>
            <form method="post">
                <input type="text" name="auth_name" placeholder="Имя пользователя">
                <input type="text" name="auth_pass" placeholder="Пароль">
                <input type="submit" name="auth_validation" value="Вход">
            </form>
        </div>        
        <div id="auth_error"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: 5px; vertical-align: middle;"></span><span>Неправильные имя пользователя и/или пароль</span></div>     
    </body>
</html>
